{% extends "base.html" %}

{% block content %}

    <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden mt-4">
      <img src="{{ book.image.url }}" alt="Card Image" class="w-full h-96 object-cover">
      <div class="p-4">
        <h2 class="text-xl font-semibold text-gray-800">{{ book.name }}</h2>
        <p class="text-gray-600 mt-2">
            The book is written by {{ book.author }}. Its price is {{ book.price }}.
            The book consists of {{ book.page_count }} pages. and the categories of the book are:
            {% for category in book.categories.all %}
                {{ category.name }}.
            {% endfor %}
        </p>
      </div>
    </div>


{% endblock %}