{% extends "base.html" %}

{% block content %}
    <section class="min-h-screen bg-gray-900 text-white py-20">
        <div class="flex px-24">
            {% load static %}
            <img src="{% static 'home.png' %}" alt="books" class="mx-auto w-1/3">

            <div class="container mx-auto">
                <h1 class="text-4xl font-semibold">Welcome to our Book Shop</h1>
                <p class="mt-4">Browse our collection of books</p>
                <a href="/books/" class="inline-block mt-4 px-6 py-3 bg-blue-500 text-white rounded-lg shadow-lg hover:bg-blue-600">Explore Books</a>
            </div>
        </div>
    </section>
{% endblock %}
